<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="node_modules/angular/angular.js"></script>
</head>
<body ng-controller="PrenomCtrl">
  <div>
    Prénom : <input ng-model="prenom">
    <button ng-click="ajouter()">+</button>
  </div>
  <p ng-repeat="prenom in prenoms track by $index">
    Bonjour <span ng-bind="prenom"></span> !
  </p>
  <script>
    var module = angular.module('app', []);
    module.controller('PrenomCtrl', function($scope) {
      $scope.prenoms = ['Jean', 'Eric'];

      $scope.ajouter = function() {
        $scope.prenoms.push($scope.prenom);
      };
    });
  </script>
<!--
5 - controller : fonction JS qui permet de communiquer avec le HTML
grâce au scope (variable $scope)
6 - injection de dépendance : dans un controller (et d'autres fonction
également), on ne peut pas nommer les arguments comme on le veut,
à la place on nomme les arguments comme les dépendances (objets ou fonctions)
du controller (ici le controleur dépends du scope avec $scope)
7 - module : pour éviter les conflits de noms, on déclare les controllers
dans des modules, libre à vous d'importer ou non un module (similaire
aux require et module.exports de node.js)
La bonne pratique : 1 fichier JS = 1 module
Ensuite ng-app permet d'indiquer le module principal (par lequel
on commence)
-->
</body>
</html>